        <!-- Footer -->
        <footer class="text-center text-white mt-4" style="background-color: #0a4275;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                <span class="me-3 text-white">Registre-se gratuitamente</span>
                <button type="button" class=" ml-3 btn btn-outline-light btn-rounded">
                    Sign up!
                </button>
                </p>
            </section>
            <!-- Section: CTA -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="/">www.IPC.com.br</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        </section>


         <!-- Foi colocado no final para a página carregar mais rápido -->
      <script src="assets/js/bootstrap.bundle.min.js"></script>
      <script src="assets/js/popper.min.js"></script>
      <script src="assets/js/jquery-3.5.0.min.js"></script>

    </head>
</body>
